.red {
    color : #be0000;
  }
  
  .orange {
    color : #e2703a;
  }
  
  .yellow {
    color : #f7ea00;
  }
  
  .green {
    color : #3a6351;
  }
  
  .blue {
    color : #046582;
  }
     .menu {
    margin-bottom: 0px;
  }
  
  .menu-item {
    
    display: inline-block;
    vertical-align: middle;
    background: linear-gradient(145deg, #fefefe, #ffffff); /* 은은한 배경 */
    color: #5703ff;                     /* 부드러운 고동색 글자 */
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;    
    padding: 12px 28px;
    margin: 10px 8px;
    border-radius: 6px; /*모서리 페더 값*/
   
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);         /* 약간의 유리 효과 */
  }
  
  .menu-item:hover {
    background: linear-gradient(145deg, #b9c6ff, #f86374); /* 은은한 핑크빛 */
    color: #a37c6c;
    transform: translateY(-2px);         /* 살짝 떠오르는 효과 */
    transform: scale(1.05);
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.12);
  }
